/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
*/

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	/*background:url(../img/bg.jpg);*/
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto";
}

footer {
  background:rgba(0,0,0,0.75);
  margin-top: 75px;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 1rem;
  box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.35);
}

footer p {
  text-align: center;
  color:#fff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hgroup {
  text-align:center;
  margin-top: 0.1em;
  padding-bottom: 20px;
}

h1, h3 {
  font-weight: 300;
}

h1 {
  color: #636363;
}

h3 {
  color: #4a89dc;
}

/* Navigation*/
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #f4f4f4;
}

/*Intro*/
.main-view {
    background: url("../images/fondo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
		height: 500px;
}

.cmd_container {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.cmd_container > article {
	/*background:rgba(24,8,33,.9);*/
	background: rgba(0,0,0, .55);
	padding: 20px;
	margin: 20px 0;
	color: #fff;
	box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.cmd_container>article>h2 {
	color: #fff;
}

.cmd_container>article>hr {
	background: #F64740;
	height: 5px;
	border: none;
}

.cmd_container>article>p {
	line-height: 25px;
}

.cmd_container>article>h2, .cmd_container>article>p, .cmd_container>article>hr {
	margin-bottom: 20px;
}

.cmd_container>article>p {
	max-height: 200px;
	overflow: auto;
}

.cmd_jumbotron {
  padding: 30px 15px 30px 15px;
  margin-bottom: 30px;
  margin-top: 40px;
  background:rgba(0,0,0,.8);
}

.cmd_jumbotron h1 {
  color: #fff;
}

.cmd_jumbotron p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
.cmd_jumbotron > hr {
  border-top-color: #d5d5d5;
}

.cmd_jumbotron {
  max-width: 100%;
}

.cmd_jumbotron_2 {
  padding: 30px 15px;
  margin-bottom: 30px;
  margin-top: 45px;
}

.cmd_jumbotron_2 h1 {
  color: #000;
}

.cmd_jumbotron_2 p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #000;
}

.cmd_jumbotron_2 > hr {
  border-top-color: #d5d5d5;
}

.cmd_jumbotron_2 {
  border-radius: 6px;
}

.cmd_jumbotron_2 {
  max-width: 100%;
}


/*_____________________________ cmd_logo ____________________________________________________________________________________________________________________________*/

.cmd_logo {
	position: fixed;
	width: 7em;
	float: left;
	margin-left: 0;
	margin-top: 0;
	transition: width 0.7s;
	-moz-transition: width 0.7s;
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.cmd_logo img {
	width: 100%
}

.cmd_zoomin {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}

.cmd_zoomin:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}


/*____________________________________ boton para subir en pantalla _______________________________________________________________________________________________*/

.cmd_gotop {
	display: none;
	padding:10.5px 12.5px;
  border-radius: 50%;
	background:rgba(0,0,0,1);
	font-size: 18px;
	color:#009688;
	cursor: pointer;
	position: fixed;
	bottom: 4.5px;
	right: 15px;
	border: 1.5px solid #009688;
}

.cmd_gotop:hover {
	background:rgba(0,0,0,1);
}
